<!DOCTYPE html>
<html lang="en" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Htmx CSRF Test</title>
</head>
<body>
<div id="hx-post-div" hx:post="'/foo'"></div>
<div id="hx-post-headers" hx:post="'/foo'" hx:headers="${ {someHeader: true} }"></div>
<div id="hx-put-div" hx:put="'/foo'"></div>
<div id="hx-put-headers" hx:put="'/foo'" hx:headers="${ {someHeader: true} }"></div>
<div id="hx-patch-div" hx:patch="'/foo'"></div>
<div id="hx-patch-headers" hx:patch="'/foo'" hx:headers="${ {someHeader: true} }"></div>
<div id="hx-delete-div" hx:delete="'/foo'"></div>
<div id="hx-delete-headers" hx:delete="'/foo'" hx:headers="${ {someHeader: true} }"></div>
</body>
</html>
