<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Htmx Dialect Test</title>
</head>
<body>
<!--/*@thymesVar id="trueVariable" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="falseVariable" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="listVariable" type="java.util.List"*/-->
<!-- @formatter:off -->
<div id="hx-get-div" hx:get="${trueVariable}?'/foo':'/bar'"></div>
<div id="hx-post-div" hx:post="${trueVariable}?'/foo':'/bar'"></div>
<div id="hx-put-div" hx:put="${trueVariable}?'/foo':'/bar'"></div>
<div id="hx-delete-div" hx:delete="${trueVariable}?'/foo':'/bar'"></div>
<div id="hx-patch-div" hx:patch="${trueVariable}?'/foo':'/bar'"></div>
<div id="hx-target-div" hx:target="${trueVariable}?'#some-div':'#some-other-div'"></div>
<div id="hx-trigger-div" hx:trigger="${trueVariable}?'reveal':''"></div>
<div id="hx-swap-div" hx:swap="${trueVariable}?'outerHTML':''"></div>
<div id="hx-vals-div-boolean" hx:vals="${ {someBooleanProperty: trueVariable} }"></div>
<div id="hx-vals-div-string" hx:vals="${ {someStringProperty: stringVariable} }"></div>
<div id="hx-vals-div-number" hx:vals="${ {someNumberProperty: numberVariable} }"></div>
<div id="hx-vals-div-multiple" hx:vals="${ {someBooleanProperty: trueVariable, someNumberProperty: numberVariable} }"></div>
<div id="hx-swap-div-with-empty-string" hx:swap="${falseVariable}?'afterend':''"></div>
<div id="hx-swap-div-with-null" hx:swap="${falseVariable}?'afterend':null"></div>
<div id="hx-swap-div-with-th-with" th:with="sum = ${1+1}" hx:swap="${sum.equals(2)}?'afterend':null"></div>
<div id="hx-target-div-with-th-each" th:each="number : ${listVariable}" hx:target="${number}"></div>
<div id="hx-validate-div" hx:validate="${trueVariable}"></div>
<!-- @formatter:on -->
</body>
</html>
